# Add files here to ignore them from prettier formatting

.env
.gitignore
.gitkeep
.mesh/
.next/
.npmrc
.nvmrc
.pnpm-store
.prettierignore
**/.codegen
**/.graphqlconfig
**/.ico
**/.jpg
**/.mesh
**/.png
**/.svg
**/*.generated.*
**/*.sh
**/schema.json
/.nx
/coverage
/dist
build-compile/
build-mesh/
Caddyfile
node_modules
pnpm-lock.yaml